<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="in.co.unifytech"
          android:installLocation="internalOnly">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- Below 2 permissions because sometimes it shows error: Couldn't create directory for SharedPreferences file -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_app"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- This Activity already has an action bar supplied by the window decor (theme attribute in Application Tag). Do not request Window.FEATURE_SUPPORT_ACTION_BAR and set windowActionBar to false in your theme to use a Toolbar instead hence used android:theme="@style/AppTheme.NoActionBar" -->
        <activity
            android:name=".socket.SmartWiFiSocketActivity"
            android:label="@string/app_name"
            android:launchMode="standard"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"> <!-- https://inthecheesefactory.com/blog/understand-android-activity-launchmode/en -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".socket.ExternalSmartWiFiSocketActivity"
            android:uiOptions="none"
            android:launchMode="standard"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoDisplay">
            <intent-filter>
                <!-- https://stackoverflow.com/questions/34173545/app-is-not-indexable-by-google-search-android-lint -->
                <category android:name="android.intent.category.BROWSABLE" />
                <action android:name="android.intent.action.VIEW" />
                <!-- Accepts URIs that begin with "http://www.unifytech.co.in/socket” -->
                <data android:scheme="http"
                      android:host="socket.unifytech.co.in"
                      android:pathPrefix="/" />
                <!-- Accepts URIs that begin with "https://www.unifytech.co.in/socket” -->
                <data android:scheme="https"
                      android:host="socket.unifytech.co.in"
                      android:pathPrefix="/" />
                <!-- note that the leading "/" is required for pathPrefix -->
                <!-- Also can write in the below way with own protocol -->
                <!--
                Accepts URIs that begin with "example://gizmos”
                <data android:scheme="example"
                      android:host="gizmos" />
                -->
            </intent-filter>
        </activity>

        <service
            android:name=".socket.MobileChargingAutoTurnOffService"
            android:description="@string/MobChargingAutoTurnOffServiceDescription"
            android:exported="false"/>
    </application>

</manifest>